body{
    background-color: #e8ffe9;
   
}

.wrapper{
    margin: 0px;
    padding: 0px;
}

.bg-dark {
    background-color: #1e7e34!important;
}

.form-box{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
padding-top: 20px;
padding-bottom: 20px;
border-radius: 5px;

}



.first-widget{
 /*   -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);*/
padding-top: 20px;
padding-bottom: 20px;
border-radius: 5px;
background-color: rgb(220, 235, 220);





}


.first{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
padding-top: 5px;
padding-bottom: 10px;
border-radius: 5px;




}

.sidebtn:hover{
    cursor: pointer;
}




.resultBorder{

    border-left: 6px solid rgb(143, 224, 105);
    background-color: lightgrey;
}

.energy{
    display: none;
}

.material{
    display: none;
}

.water{
    display: none;
}



.nav-tabs .nav-link.active {
background-color: green;    
color: white;
}

.btn-link{
    font-weight: 500;
    color: green;
}

.fade h5{
    color: green;
}


/* Large rounded green border */
hr.divider {
    border: 2px solid green;
    width:8%;
    margin:0px;
    align-text:left;
  }


  li.tick,.li-header,li{
      list-style: none;
  }

  .li-header{
    font-weight:bold;
    text-transform: uppercase;
}
li{
    font-weight: bold;
}

li.bullets::before{
    content: '-';
}


  .strong{
      font-weight: bold;
      
  }
